{% if item.letsencrypt is defined %}
    location '/.well-known/acme-challenge' { default_type "text/plain"; {{ 'root /var/www' if nginx_dehydrated is not defined else 'alias /var/lib/dehydrated/acme-challenges' }}; }
{% endif %}
