{% if item.ssl is defined %}
    ssl_certificate /etc/nginx/ssl/{{ item.ssl }}.crt;
    ssl_certificate_key /etc/nginx/ssl/{{ item.ssl }}.key;
{% endif %}
{% if item.letsencrypt is defined %}
    ssl_certificate /etc/letsencrypt/live/{{ item.name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item.name }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ item.name }}/fullchain.pem;
{% endif %}
