#!/bin/sh

backup_parent_dir="/data/backups/sites"
backup_date=`date +%Y-%m-%d_%H-%M`
backup_dir="${backup_parent_dir}/`date "+%Y-%m-%d"`"
echo "Backup directory: ${backup_dir}"
mkdir -p "${backup_dir}"
chmod 755 "${backup_dir}"
HOSTNAME=`hostname`

# set DAYS
if [ -n "$1" ]; then
  DAYS=$1
else
  DAYS={{ item.retention | default("14") }}
fi

# exclude-caches
# echo Signature: 8a477f597d28d172789f06886806bc55 > CACHEDIR.TAG

logger "*** Start sites Backup ***"

for sites_root_dir in /usr/sites /var/www; do
    if [ -d $sites_root_dir ]; then
        cd ${sites_root_dir} && sites_sub_dir=`echo $sites_root_dir | cut -f3 -d '/'`
        for i in `ls -d */ | cut -f1 -d'/'`; do
            tar -c --exclude-vcs --exclude-backups --exclude-caches --exclude='*.sock' --exclude='*.log' -I pigz -f "${backup_dir}/${HOSTNAME}_${sites_sub_dir}_${i}_${backup_date}.tgz" -C $sites_root_dir $i
            chmod 600 "${backup_dir}/${HOSTNAME}_${sites_sub_dir}_${i}_${backup_date}.tgz"
        done
    fi
done

logger "*** Delete backups older than ${DAYS} ***"

# Delete backups older than ${days}
find ${backup_parent_dir} -name '*' -type d -mtime +${DAYS} -prune -exec rm -rfv "{}" \;

logger "*** Finish sites Backup ***"
